Ladybird/**/*
Min/**/*
autorandr/**/*
dconf/**/*
dotfiles/**/*
epiphany/**/*
evolution/**/*
gh/**/*
gnome-session/**/*
go/**/*
goa-1.0/**/*
google-chrome/**/*
gtk-3.0/**/*
i3/**/*
ibus/**/*
menus/**/*
nautilus/**/*
neofetch/**/*
nextjs-nodejs/**/*
polybar/**/*
pulse/**/*
rofi/**/*
sqlitebrowser/**/*
systemd/**/*
test/**/*
yay/**/*
.gsd-keyboard.settings-ported
QtProject.conf
connections.db
mimeapps.list
user-dirs.dirs
user-dirs.locale

