discord/**/*
Ladybird/**/*
Min/**/*
autorandr/**/*
dconf/**/*
epiphany/**/*
evolution/**/*
gh/**/*
gnome-session/**/*
go/**/*
goa-1.0/**/*
google-chrome/**/*
gtk-3.0/**/*
ibus/**/*
menus/**/*
nautilus/**/*
neofetch/**/*
nextjs-nodejs/**/*
pulse/**/*
sqlitebrowser/**/*
systemd/**/*
test/**/*
yay/**/*
tmux/plugins/**
spotify/**/*
GIMP/**/*
.gsd-keyboard.settings-ported
QtProject.conf
connections.db
mimeapps.list
user-dirs.dirs
user-dirs.locale
gtk-2.0/**/*
Code - */**/*
Cursor
Docker Desktop
Electron
Insomnia
JetBrains
Microsoft
Postman
autostart
gh-copilot
github-copilot
glab-cli
google-chrome-unstable
hypr
microsoft-*
optimizedFetcher
balenaEtcher
